$heading-color: #000000;
$text-color: #304D4F;
$bg-default: #0d0d0d;
$bg-gray: #f1f1f1;
$color-white: #ffffff;
$color-dark: #000000;
$hover-color: #30336b;
$footer-color: #161616;
$c1: #bbe4e7;
$c2: #6e999c;
$c3: #304d4f;
$c4: #ffdd92;
$c5: #e6e6e6;